.homehead{
    margin: 0px;
    padding: 2px;
    box-sizing: border-box; 
}  
.homeimage{
 
 background-size: cover;
 background-repeat:no-repeat ;
}
.homebox {

    margin: 20px;
    color: WHITE;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;

} 


.top{
    margin: 30px;
}
.button{
    margin-top: 10px ;
    margin-left: 75px;
    margin-bottom: 10px;
    padding: 3px;
    background-color: darkcyan;

}

.top >h3{
 border-top-right-radius: 10px;
padding: 10px;
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
/* background: linear-gradient(lightgreen, rgb(245, 195, 103), lightblue); */
margin: 0px;
} 
.top > p{
    padding: 10px;
    margin: 0px;
    background-color: lightsteelblue ;
    border-bottom: red solid ;
    border-top: red solid;
    
}
.top > button{
    padding: 10px;
    background-color: darkblue;

}
.top > h6{

    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.trending{

    margin: 10px;   
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid wheat;
    margin-right: 1100px;
    padding: 5px;
    text-align: center;
    color: black;
    background-color: ivory;        
}